@{
    ViewBag.Title = "TEXTER";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Texter.ViewModels.SendMessageViewModel

<h2>Send a new message</h2>
<hr />
@using (Html.BeginForm("SendMessage", "Home", FormMethod.Post, Model.Message))
{
    @Html.LabelFor(model => model.Message.To)
    @Html.TextBoxFor(model => model.Message.To)
    @Html.LabelFor(model => model.Message.From)
    @Html.DropDownListFor(model => model.Message.From, new SelectList(
        Model.Contacts, "FirstName", "PhoneNumber"))
    @Html.LabelFor(model => model.Message.Body)
    @Html.TextBoxFor(model => model.Message.Body)
    <input type="submit" value="Send!" />
}

@Html.ActionLink("Back home", "Index")